@charset "utf-8";

body {
  margin: 0;
}
/* .swiper-container{
position: relative;
} */
.swiper-container {
  width: 50vw;
  height: 65vh;
}
.swiper-slide img{
  width: 60vw;
  height: 60vh;
  object-fit: contain;
  margin: auto;
}

.swiper-pagination{
  position: absolute;
  top: 30px;
  left: 26%
} 
.swiper-pagination-bullet{
background-color: #ffffff;
margin-right: 15px;
width: 13px;
height: 13px;
}

.mySwiper1 .swiper-pagination-bullet-active-prev,
.mySwiper1 .swiper-pagination-bullet-active-next {
  background-color: #ffffff;
}
.swiper-container .view-more {
  position: absolute;
  bottom: 60px;
  left: 26%
}

