@charset "utf-8";

body {
  background-color: var(--black-color);
  font-family: var(--kr-font);
}

/**** nav ****/
header {
  width: 100%;
  background-color: #070608;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
header .nav-logo {
  width: 80%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
header nav .gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  font-size: 1.1rem;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: 0.3s;
  font-weight: 400;
  font-family: var(--en-font);
}
header nav .gnb li {
  margin: 40px;
  color: var(--gray-color2);
}
header nav .gnb li:first-child {
  margin-right: 50%;
}
nav li:nth-child(3) a {
  color: #fff;
}
nav li a:hover {
  color: #fff;
}

.bottom-btn {
  width: 120px;
  height: 35px;
  background-color: var(--gray-color2);
  border-radius: 20px;
  text-align: center;
  line-height: 35px;
  font-size: 1.1rem;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-family: var(--en-font);
  z-index: 2;
}
/**** contents ****/

/** branding-banner **/
.branding-banner {
  background: url(../images/branding-banner.png) no-repeat 50% / cover;
  height: 100vh;
}

.branding-banner .banner-txt {
  padding-top: 20%;
  padding-left: 100px;
}

.branding-banner .banner-txt h1 {
  font-weight: 400;
  font-size: 45px;
  color: #fff;
}

.branding-banner .banner-txt h1:nth-child(1) {
  margin-top: 20px;
}

.branding-banner .banner-txt h1:nth-child(2) {
  font-family: var(--en-font);
  font-weight: 100;
}

.branding-banner img {
  width: 80px;
}

.banner-fixed {
  background-color: #fff;
  width: 80px;
  height: 40px;
  position: fixed;
  right: -1%;
  top: 20%;
  transform: rotate(270deg);
  z-index: 2;
}

.banner-fixed img {
  filter: invert(100%);
  transform: translate(0px, 10px);
}

/** branding-txt **/

.branding-txt {
  text-align: center;
  color: #fff;
  height: 100vh;
  padding-top: 8%;
  padding-bottom: 12%;
}

.branding-txt .txt-txt {
  color: var(--gray-color2);
  font-weight: 100;
  font-size: 22px;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.branding-txt .txt-txt span {
  color: #fff;
  font-family: var(--en-font);
  font-weight: 400;
}

.branding-txt .txt-4circle {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 5%;
  margin-bottom: 3%;
}

.branding-txt .txt-4circle p {
  font-size: 26px;
  font-weight: 400;
  width: 300px;
  height: 300px;
  padding-top: 130px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.branding-txt .txt-4circle p:last-child {
  padding-top: 110px;
  line-height: 40px;
}

.branding-txt .txt-4circle p:hover {
  font-weight: 600;
  background-color: #fff;
  color: #cc0000;
  transition: 0.4s;
}

.branding-txt .view-more {
  margin: auto;
  cursor: pointer;
}

/** branding-scrollDown **/
.branding-scrollDown {
  background: url(../images/branding-scrollDown.png) no-repeat 50% / cover;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 350px;
}

.scrollDown-arrow {
  width: 85%;
  margin-top: -13%;
  color: #fff;
}

.scrollDown-arrow svg {
  width: 40px;
  height: 40px;
  fill: #fff;
}
.scrollDown-arrow p {
  border: 1px solid #fff;
  font-family: var(--en-font);
}
.branding-scrollDown h1 {
  font-weight: 100;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  line-height: 1.5;
}

.branding-scrollDown h1 span {
  font-weight: 400;
}

.branding-scrollDown h1 img {
  width: 190px;
  margin-right: -15px;
}

/** branding-news **/
.branding-news {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.branding-news .news-left {
  height: 70%;
}
.branding-news .news-left p {
  font-size: 30px;
  color: var(--gray-color2);
  font-weight: 400;
}
.branding-news .news-left h1 {
  font-size: 50px;
  letter-spacing: -3px;
  margin-top: 10px;
  line-height: 1.5;
}
.branding-news .news-right {
  margin-bottom: 20px;
}
.branding-news .news-right h3 {
  font-size: 30px;
  margin-bottom: 25px;
}
.branding-news .news-right img {
  height: 550px;
  filter: saturate(0%);
  margin-bottom: 25px;
}
.branding-news .news-right img:hover {
  filter: saturate(100%);
  transition: 0.4s;
}
.branding-news .news-right p {
  font-size: 16px;
  color: var(--gray-color2);
  margin-bottom: 25px;
}
.branding-news .view-more {
  cursor: pointer;
}

/** js **/
.mySwiper {
  height: 60vh;
  overflow: hidden;
}
.mySwiper img {
  display: block;
}

/** branding-3block **/
.branding-3block {
  color: #fff;
  padding-top: 3%;
  padding-bottom: 8%;
  display: flex;
}
.branding-3block .block-txt p {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.branding-3block .block-1 .img1 {
  filter: saturate(0%);
}
.branding-3block .block-1:hover .img1 {
  filter: saturate(100%);
  transition: 0.8s;
}
.branding-3block .block-2 .img2 {
  filter: saturate(0%);
}
.branding-3block .block-2:hover .img2 {
  filter: saturate(100%);
  transition: 0.8s;
}
.branding-3block .block-3 .img3 {
  filter: saturate(0%);
}
.branding-3block .block-3:hover .img3 {
  filter: saturate(100%);
  transition: 0.8s;
}

.branding-3block .block-1 {
  position: relative;
}
.branding-3block .block-2 {
  position: relative;
}
.branding-3block .block-3 {
  position: relative;
}

.branding-3block .block-1-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.branding-3block .block-2-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.branding-3block .block-3-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.branding-3block .view-more {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 160px;
  font-family: var(--en-font);
  font-weight: 100;
  font-size: 24px;
  cursor: pointer;
}

/**** footer ****/
footer {
  height: 100vh;
  width: 100%;
  background-color: #ddd;
  display: grid;
  background: url(../images/footer-background.png) no-repeat 59% / cover;
}
footer .footer-top {
  justify-self: center;
}
.footer-top img {
  justify-self: center;
}
footer .footer-top ul {
  display: flex;
  justify-content: center;
  color: var(--gray-color);
  font-family: var(--en-font);
}
footer .footer-top ul li {
  font-size: 1rem;
  color: var(--gray-color);
  border: 2px solid var(--gray-color);
  border-radius: 20px;
  width: 130px;
  margin-top: 10px;
  text-align: center;
  padding: 5px;
  margin: 20px;
}
footer .footer-top ul li svg {
  fill: var(--gray-color);
  width: 20px;
  padding-top: 7px;
  margin-right: 5px;
}
footer .footer-email-box {
  display: grid;
  padding-top: 10%;
  width: 100%;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
footer .footer-email-box .footer-email {
  border: 2px solid var(--gray-color);
  border-radius: 40px;
  padding: 10px;
  width: 300px;
  text-indent: 10px;
  background-color: #444545;
  position: relative;
  font-family: var(--en-font);
}
footer .footer-email-box .footer-email:nth-child(1) h4::after {
  content: '';
  width: 2px;
  background-color: var(--gray-color);
  height: 140px;
  position: absolute;
  left: 305px;
  bottom: 100px;
}
footer .footer-email-box .footer-email:nth-child(1),
footer .footer-email-box .footer-email:nth-child(3) {
  justify-self: right;
}
footer .footer-email-box .footer-email h4 {
  font-size: 1.2rem;
  color: #fff;
}
footer .footer-email-box .footer-email p {
  font-size: 0.9rem;
  color: var(--gray-color2);
}
footer .footer-email-box .footer-email h4 .text-small {
  font-size: 0.8rem;
  color: var(--gray-color2);
}
footer .footer-email-box .footer-email img {
  float: left;
  width: 50px;
}
footer .footer-bottom {
  display: grid;
  justify-content: center;
  color: var(--gray-color);
  font-family: var(--en-font);
  padding-top: 50px;
  /* padding-bottom: 50px; */
}
