@charset "utf-8";

body {
    margin: 0;
}

.mySwiper1 {
    text-indent: -9999px;
    height: 100vh;
    overflow: hidden;

    --swiper-theme-color: #fff;
    --swiper-navigation-size: 2rem;

    position: relative;
}

.mySwiper1 .swiper-slide {
    background: no-repeat;
    background-size: cover;
    height: 100vh;
}

.mySwiper1 .bg1 {
    background-image: url(../images/news1.png);
    filter: saturate(0%);
    cursor: pointer;
}
.mySwiper1 .bg1:hover {
    filter: saturate(100%);
    transition: 0.4s;
}

.mySwiper1 .bg2 {
    background-image: url(../images/news2.png);
    filter: saturate(0%);
    cursor: pointer;
}
.mySwiper1 .bg2:hover {
    filter: saturate(100%);
    transition: 0.4s;
}

.mySwiper1 .bg3 {
    background-image: url(../images/news3.png);
    filter: saturate(0%);
    cursor: pointer;
}
.mySwiper1 .bg3:hover {
    filter: saturate(100%);
    transition: 0.4s;
}

.mySwiper1 .swiper-pagination {
    width: 30px;
    height: 10px;
    border-radius: 0;
    position: absolute;
    top: 0; right: 0;
}
