@charset "utf-8";

/* root */
:root {
  --kr-font: 'Noto Sans KR'; /*폰트css 파일 정리 후 수정 예정*/
  --en-font: 'Neue Montreal'; /*폰트css 파일 정리 후 수정 예정*/
  --red-color: #cc0000;
  --black-color: #070608;
  --gray-color: #6a6a6a;
  --gray-color2: #d9d9d9;
}
