/* Regular */
@font-face {
  font-family: 'NeueMontreal-Regular';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./NeueMontreal-Regular.woff2) format('woff2');
}

/* Light */
@font-face {
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(./NeueMontreal-Light.woff2) format('woff2');
}

/* Medium */
@font-face {
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./NeueMontreal-Medium.woff2) format('woff2');
}

/* Bold */
@font-face {
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./NeueMontreal-Bold.woff2) format('woff2');
}
