@charset "utf-8";

body {
  margin: 0;
}

.mySwiper1 {
  height: 100vh;
  overflow: hidden;

  --swiper-theme-color: transparent;
  --swiper-navigation-size: 2rem;
}

.mySwiper1 .swiper-slide {
  background: no-repeat 50% / cover;
}

.mySwiper1 .img1 {
  background-image: url(../images/new1-color.png);
}

.mySwiper1 .img2 {
  background-image: url(../images/new2-color.png);
}

.mySwiper1 .img3 {
  background-image: url(../images/new3-color.png);
}

.mySwiper1 .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
