@charset "utf-8";

body {
  margin: 0;
}

/* mySwiper1 */

.mySwiper1 {
  background-color: #979797;
  height: 100vh;
  overflow: hidden;

  --swiper-theme-color: #fff;
  --swiper-navigation-size: 2rem;
}

.mySwiper1 .swiper-slide {
  background: no-repeat 50% / cover;
  text-indent: -9999px;
}

.mySwiper1 .bg1 {
  background-image: url(../images/bestModel-banner1.png);
}

.mySwiper1 .bg2 {
  background-image: url(../images/bestModel-banner2.png);
}

.mySwiper1 .bg3 {
  background-image: url(../images/bestModel-banner3.png);
}

.swiper-pagination{
  position: absolute;
  top: 150px;
  left: 260px;
}

.swiper-pagination-bullet {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.mySwiper1 .swiper-button-prev::after {
  position: absolute;
  left: 50px;
  color: #fff;
}

.mySwiper1 .swiper-button-next::after {
  position: absolute;
  right: 50px;
  color: #fff;
}

/* mySwiper2 */

.mySwiper2 {
  background-color: #c9c9c9;
  height: 100vh;
  overflow: hidden;

  --swiper-theme-color: #fff;
  --swiper-navigation-size: 2rem;
  position: relative;
  background: url(../images/main-background.png) no-repeat 50% / cover;
}

.mySwiper2 .swiper-slide {
  width: 100%;
  user-select: none;
  cursor: -webkit-grab;
}

.mySwiper2 .swiper-slide h1 {
  font-family: var(--kr-font);
  font-size: 1.4rem;
  font-weight: 200;
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

.mySwiper2 .swiper-slide img {
  width: 40vw;
  height: 40vw;
  object-fit: contain;
  position: absolute;
  left: 0;
  right: 30px;
  bottom: 150px;
  margin: auto;
}

.mySwiper2 .swiper-slide h3 {
  font-size: 1.25rem;
  font-family: var(--en-font);
  font-weight: 200;
  color: var(--gray-color2);
  line-height: 2;
  position: absolute;
  left: 205px;
  top: 680px;
  letter-spacing: 3px;
}

.mySwiper2 .swiper-slide a {
  font-size: 1.25rem;
  font-family: var(--en-font);
  font-weight: 200;
  color: var(--gray-color2);
  border: 1px solid var(--gray-color2);
  border-radius: 30px;
  padding: 5px 10px;
  position: absolute;
  left: 200px;
  top: 720px;
  letter-spacing: 3px;
}

.mySwiper2 .swiper-pagination {
  margin-bottom: 160px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.swiper-button-prev::after {
  position: absolute;
  left: 20vw;
  color: #fff;
}

.swiper-button-next::after {
  position: absolute;
  right: 20vw;
  color: #fff;
}

/* .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets .swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  margin-bottom: 150px;
} */