@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #070608;
  overflow-x: hidden;
}

.contents {
  width: 100%;
}

/**** nav ****/
header {
  width: 100%;
  background-color: #070608;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

header .nav-logo {
  width: 80%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

header nav .gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  font-size: 1.1rem;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: 0.3s;
  font-weight: 400;
  font-family: var(--en-font);
  z-index: 9999;
}

header nav .gnb li {
  margin: 40px;
  color: var(--gray-color2);
}

header nav .gnb li:first-child {
  margin-right: 50%;
}

header .bottom-btn {
  width: 120px;
  height: 35px;
  background-color: var(--gray-color2);
  border-radius: 20px;
  text-align: center;
  line-height: 35px;
  font-size: 1.1rem;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-family: var(--en-font);
  z-index: 9999;
}

/**** contents ****/
/* contents bestModel-banner */

/*
.contents .bestModel-banner1 {
  background: url(../images/bestModel-banner1.png) no-repeat 50% / cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.contents .bestModel-banner1 .view-more {
  position: absolute;
  top: 580px;
  left: 200px;
}

.contents .bestModel-banner2 {
  background: url(../images/bestModel-banner2.png) no-repeat 50% / cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: none;
}

.contents .bestModel-banner2 .view-more {
  position: absolute;
  top: 580px;
  left: 200px;
}

.contents .bestModel-banner3 {
  background: url(../images/bestModel-banne3.png) no-repeat 50% / cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: none;
}

.contents .bestModel-banner3 .view-more {
  position: absolute;
  top: 580px;
  left: 200px;
}

*/

.contents .bestModel-banner .view-more1 {
  text-transform: capitalize;
  font-size: 1.2rem;
  text-align: center;
  background-color: #fff;
  color: var(--gray-color);
  width: 150px;
  height: 35px;
  line-height: 35px;
  border-radius: 40px;
  transition: 0.3s;

  margin: 60px 0;
  cursor: pointer;
  position: absolute;
  top: 55%;
  left: 10%;
  z-index: 999;
  text-indent: 0;
}

.contents .bestModel-banner .view-more1:hover {
  color: var(--red-color);
  transform: scale(1.1);
}

/* contents bestModel-txt */
.contents .bestModel-txt {
  background: url(../images/main-background.png) no-repeat 50% / cover;
  width: 100%;
  height: 100vh;
}

.contents .bestModel-txt .scrollDown-arrow {
  padding-top: 50px;
}

.contents .bestModel-txt h1 {
  font-family: var(--kr-font);
  color: var(--gray-color2);
  font-size: 4.375rem;
  font-weight: 400;
  width: 100%;
  height: 90vh;
  letter-spacing: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contents bestModel-new */
/* contents bestModel-new 1 */
.contents .bestModel-new1 {
  background: url(../images/main-background.png) no-repeat 50% / cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.contents .bestModel-new1 .scrollDown-arrow {
  padding-top: 50px;
}

.contents .bestModel-new1 .bestModel-new1-text {
  font-family: var(--en-font);
  font-weight: 200;
  color: var(--gray-color2);
  text-transform: capitalize;
  font-size: 3.75rem;
  position: absolute;
  top: 100px;
  left: 50px;
  text-align: left;
}

.contents .bestModel-new1 .bestModel-new1-explain h1 {
  font-family: var(--kr-font);
  color: var(--gray-color2);
  font-size: 1.875rem;
  font-weight: 300;
  position: absolute;
  top: 180px;
  left: 830px;
}

.contents .bestModel-new1 img {
  width: 650px;
  height: 630px;
  position: absolute;
  top: 250px;
  right: 550px;
}

.contents .bestModel-new1 h2 {
  color: var(--gray-color2);
  text-transform: uppercase;
  font-size: 12.5rem;
  font-family: var(--en-font);
  font-weight: 700;
  position: absolute;
  top: 220px;
  left: 550px;
  margin-top: 10%;
}

.contents .bestModel-new1 .bestModel-new1-model-name {
  font-family: var(--en-font);
  font-weight: 200;
  text-transform: uppercase;
  color: var(--gray-color2);
  position: absolute;
  width: 200px;
  bottom: 60px;
  right: 20px;
  line-height: 2.1;
}

.contents .bestModel-new1 .bestModel-new1-model-name h3 {
  color: var(--gray-color2);
  font-weight: 200;
}

.contents .bestModel-new1 .bestModel-new1-model-name a {
  border: 1px solid var(--gray-color2);
  border-radius: 30px;
  padding: 5px 10px;
  text-align: right;
}

/* contents bestModel-new 2 */
.contents .bestModel-new2 {
  background: url(../images/main-background.png) no-repeat 50% / cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  display: none;
}

.contents .bestModel-new2 .scrollDown-arrow {
  padding-top: 50px;
}

.contents .bestModel-new2 .bestModel-new2-text {
  font-family: var(--en-font);
  font-weight: 200;
  color: var(--gray-color2);
  text-transform: capitalize;
  font-size: 3.75rem;
  position: absolute;
  top: 100px;
  left: 50px;
  text-align: left;
}

.contents .bestModel-new2 .bestModel-new2-explain h1 {
  font-family: var(--kr-font);
  color: var(--gray-color2);
  font-size: 1.875rem;
  font-weight: 300;
  position: absolute;
  top: 180px;
  left: 830px;
}

.contents .bestModel-new2 img {
  width: 950px;
  height: 950px;
  position: absolute;
  top: 130px;
  right: 400px;
}

.contents .bestModel-new2 h2 {
  color: var(--gray-color2);
  text-transform: uppercase;
  font-size: 12.5rem;
  font-family: var(--en-font);
  font-weight: 700;
  position: absolute;
  top: 220px;
  left: 610px;
  margin-top: 10%;
}

.contents .bestModel-new2 .bestModel-new2-model-name {
  color: var(--gray-color2);
  font-family: var(--en-font);
  font-weight: 200;
  text-transform: uppercase;
  position: absolute;
  width: 200px;
  bottom: 60px;
  right: 20px;
  line-height: 2.1;
}

.contents .bestModel-new2 .bestModel-new2-model-name h3 {
  color: var(--gray-color2);
  font-weight: 200;
}

.contents .bestModel-new2 .bestModel-new2-model-name a {
  border: 1px solid var(--gray-color2);
  border-radius: 30px;
  padding: 5px 10px;
  text-align: right;
}

/* contents bestModel-new 3 */
.contents .bestModel-new3 {
  background: url(../images/main-background.png) no-repeat 50% / cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  display: none;
}

.contents .bestModel-new3 .scrollDown-arrow {
  padding-top: 50px;
}

.contents .bestModel-new3 .bestModel-new3-text {
  font-family: var(--en-font);
  font-weight: 200;
  color: var(--gray-color2);
  text-transform: capitalize;
  font-size: 3.75rem;
  position: absolute;
  top: 100px;
  left: 50px;
  text-align: left;
}

.contents .bestModel-new3 .bestModel-new3-explain h1 {
  font-family: var(--kr-font);
  color: var(--gray-color2);
  font-size: 1.875rem;
  font-weight: 300;
  position: absolute;
  top: 180px;
  left: 830px;
}

.contents .bestModel-new3 img {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 230px;
  right: 710px;
}

.contents .bestModel-new3 h2 {
  color: var(--gray-color2);
  text-transform: uppercase;
  font-size: 12.5rem;
  font-family: var(--en-font);
  font-weight: 700;
  position: absolute;
  top: 200px;
  left: 420px;
  margin-top: 10%;
}

.contents .bestModel-new3 .bestModel-new3-model-name {
  color: var(--gray-color2);
  font-family: var(--en-font);
  font-weight: 200;
  text-transform: uppercase;
  position: absolute;
  width: 200px;
  bottom: 60px;
  right: 20px;
  line-height: 2.1;
}

.contents .bestModel-new3 .bestModel-new3-model-name h3 {
  color: var(--gray-color2);
  font-weight: 200;
}

.contents .bestModel-new3 .bestModel-new3-model-name a {
  border: 1px solid var(--gray-color2);
  border-radius: 30px;
  padding: 5px 10px;
  text-align: right;
}

/* contents bestModel-new 4 */
.contents .bestModel-new4 {
  background: url(../images/main-background.png) no-repeat 50% / cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  display: none;
}

.contents .bestModel-new4 .scrollDown-arrow {
  padding-top: 50px;
}

.contents .bestModel-new4 .bestModel-new4-text {
  font-family: var(--en-font);
  font-weight: 200;
  color: var(--gray-color2);
  text-transform: capitalize;
  font-size: 3.75rem;
  position: absolute;
  top: 100px;
  left: 50px;
  text-align: left;
}

.contents .bestModel-new4 .bestModel-new4-explain h1 {
  font-family: var(--kr-font);
  color: var(--gray-color2);
  font-size: 1.875rem;
  font-weight: 300;
  position: absolute;
  top: 180px;
  left: 825px;
}

.contents .bestModel-new4 img {
  width: 600px;
  height: 480px;
  position: absolute;
  top: 260px;
  right: 600px;
}

.contents .bestModel-new4 h2 {
  color: var(--gray-color2);
  text-transform: uppercase;
  font-size: 12.5rem;
  font-family: var(--en-font);
  font-weight: 700;
  position: absolute;
  top: 200px;
  left: 610px;
  margin-top: 10%;
}

.contents .bestModel-new4 .bestModel-new4-model-name {
  color: var(--gray-color2);
  font-family: var(--en-font);
  font-weight: 200;
  text-transform: uppercase;
  position: absolute;
  width: 200px;
  bottom: 60px;
  right: 20px;
  line-height: 2.1;
}

.contents .bestModel-new4 .bestModel-new4-model-name h3 {
  color: var(--gray-color2);
  font-weight: 200;
}

.contents .bestModel-new4 .bestModel-new4-model-name a {
  border: 1px solid var(--gray-color2);
  border-radius: 30px;
  padding: 5px 10px;
  text-align: right;
}

/* contents bestModel-youtube */
.contents .bestModel-youtube {
  background-color: #000;
  width: 100%;
  height: 100vh;
  /* display: grid;
  place-items: center; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.contents .bestModel-youtube .bestModel-youtube-slide h1 {
  font-family: var(--en-font);
  font-weight: 200;
  font-size: 3.75rem;
  color: var(--gray-color2);
  width: 100%;
  margin: 50px auto;
  text-align: center;
  letter-spacing: 2px;
}

.contents .bestModel-youtube .bestModel-youtube-slide h1::after {
  content: '';
  background-color: var(--gray-color2);
  width: 760px;
  height: 1px;

  display: block;
  margin: 30px auto;
  text-align: center;
}

.contents .bestModel-youtube .canon-youtube {
  width: 80%;
  height: 30vw;
  border-radius: 30px;
}

/* contents bestModel-category */
.bestModel-category {
  background-color: #000;
  width: 100%;
  height: 100vh;
}

.bestModel-category h1 {
  color: var(--gray-color2);
  text-transform: capitalize;
  font-family: var(--en-font);
  font-size: 3.75rem;
  font-weight: 400;
  position: absolute;
  left: 100px;
}

.bestModel-category .bestModel-category-item {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 100px;
  gap: 20px;
}

.bestModel-category .bestModel-category-item .bestModel-category-item1 {
  background: url(../images/categori-렌즈교환카메라.png) no-repeat 50% / cover;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.bestModel-category .bestModel-category-item .bestModel-category-item1:hover {
  background: url(../images/categori-렌즈교환카메라color.png) no-repeat 50% / cover;
}

.bestModel-category
  .bestModel-category-item
  .bestModel-category-item1
  .bestModel-category-item1-txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.bestModel-category
  .bestModel-category-item
  .bestModel-category-item1
  .bestModel-category-item1-txt
  h3 {
  font-family: var(--kr-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  line-height: 2;
}

.bestModel-category .bestModel-category-item .bestModel-category-item2 {
  background: url(../images/categori-렌즈.png) no-repeat 50% / cover;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.bestModel-category .bestModel-category-item .bestModel-category-item2:hover {
  background: url(../images/categori-렌즈color.png) no-repeat 50% / cover;
}

.bestModel-category
  .bestModel-category-item
  .bestModel-category-item2
  .bestModel-category-item2-txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.bestModel-category
  .bestModel-category-item
  .bestModel-category-item2
  .bestModel-category-item2-txt
  h3 {
  font-family: var(--kr-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  line-height: 2;
}

.bestModel-category .bestModel-category-item .bestModel-category-item3 {
  background: url(../images/categori-프린터.png) no-repeat 50% / cover;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.bestModel-category .bestModel-category-item .bestModel-category-item3:hover {
  background: url(../images/categori-프린터color.png) no-repeat 50% / cover;
}

.bestModel-category
  .bestModel-category-item
  .bestModel-category-item3
  .bestModel-category-item3-txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.bestModel-category
  .bestModel-category-item
  .bestModel-category-item3
  .bestModel-category-item3-txt
  h3 {
  font-family: var(--kr-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  line-height: 2;
}

.bestModel-category .bestModel-category-item .bestModel-category-item4 {
  background: url(../images/categori-컴팩트카메라.png) no-repeat 50% / cover;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.bestModel-category .bestModel-category-item .bestModel-category-item4:hover {
  background: url(../images/categori-컴팩트카메라color.png) no-repeat 50% / cover;
}

.bestModel-category
  .bestModel-category-item
  .bestModel-category-item4
  .bestModel-category-item4-txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.bestModel-category
  .bestModel-category-item
  .bestModel-category-item4
  .bestModel-category-item4-txt
  h3 {
  font-family: var(--kr-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  line-height: 2;
}

.bestModel-category .bestModel-category-item .bestModel-category-item5 {
  background: url(../images/categori-wearable-camera.png) no-repeat 50% / cover;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.bestModel-category .bestModel-category-item .bestModel-category-item5:hover {
  background: url(../images/categori-wearable-camera-color.png) no-repeat 50% / cover;
}

.bestModel-category
  .bestModel-category-item
  .bestModel-category-item5
  .bestModel-category-item5-txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.bestModel-category
  .bestModel-category-item
  .bestModel-category-item5
  .bestModel-category-item5-txt
  h3 {
  font-family: var(--en-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  line-height: 2;
}

.bestModel-category .bestModel-category-item .bestModel-category-item6 {
  background: url(../images/categori-쌍안경.png) no-repeat 50% / cover;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.bestModel-category .bestModel-category-item .bestModel-category-item6:hover {
  background: url(../images/categori-쌍안경color.png) no-repeat 50% / cover;
}

.bestModel-category
  .bestModel-category-item
  .bestModel-category-item6
  .bestModel-category-item6-txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.bestModel-category
  .bestModel-category-item
  .bestModel-category-item6
  .bestModel-category-item6-txt
  h3 {
  font-family: var(--kr-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  line-height: 2;
}

/* contents bestModel-notice */
.contents .bestModel-notice {
  background-color: #000;
  width: 100%;
  height: 100vh;
}

.contents .bestModel-notice h1 {
  text-transform: capitalize;
  font-family: var(--en-font);
  font-weight: 400;
  font-size: 3.75rem;
  color: var(--gray-color2);
  display: block;
  width: 200px;
  margin: 0 100px;
}

.contents .bestModel-notice .bestModel-notice-list {
  margin-top: 50px;
}

.contents .bestModel-notice .bestModel-notice-list li {
  color: var(--gray-color2);
  font-family: var(--kr-font);
  font-size: 1.625rem;
  border-bottom: 2px solid var(--gray-color2);
  width: 80%;
  margin: auto;
  padding: 0 50px 0;
  list-style: hash inside;
  line-height: 4;
}

.contents .bestModel-notice .bestModel-notice-list li:first-child {
  border-top: 2px solid var(--gray-color2);
}

@counter-style hash {
  system: cyclic;
  symbols: '#';
  suffix: '   ';
}

.contents .bestModel-notice .bestModel-notice-list li .date {
  font-size: 1.25rem;
  margin-top: 12px;
  color: var(--gray-color2);
  float: right;
}

/* footer */
footer {
  background-color: #ddd;
  display: grid;
  background: url(../images/footer-background.png)no-repeat 50%/cover;
  width: 100%;
  height: 100vh;
}

footer .footer-top {
  justify-self: center;
}

.footer-top img {
  justify-self: center;
}

footer .footer-top ul {
  display: flex;
  justify-content: center;
  color: var(--gray-color);
  font-family: var(--en-font);
}

footer .footer-top ul li {
  font-size: 1rem;
  color: var(--gray-color);
  border: 2px solid var(--gray-color);
  border-radius: 20px;
  width: 150px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px 20px;  */
  margin: 20px;
}

footer .footer-top ul li a {
  padding: 5px 15px 10px 15px;
}

footer .footer-top ul li svg {
  fill: var(--gray-color);
  width: 20px;
  padding-top: 7px;
  margin-right: 5px;
}

footer .footer-email-box {
  display: grid;
  padding-top: 10%;
  width: 100%;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

footer .footer-email-box .footer-email {
  border: 2px solid var(--gray-color);
  border-radius: 40px;
  padding: 10px;
  width: 300px;
  text-indent: 10px;
  background-color: #444545;
  position: relative;
  font-family: var(--en-font);
}

footer .footer-email-box .footer-email:nth-child(1) h4::after {
  content: '';
  width: 2px;
  background-color: var(--gray-color);
  height: 140px;
  position: absolute;
  left: 307px;
  bottom: 160px;
}

footer .footer-email-box .footer-email:nth-child(1),footer .footer-email-box .footer-email:nth-child(3) {
  justify-self: right;
}

footer .footer-email-box .footer-email h4 {
  font-size: 1.2rem;
  color: #fff;
}

footer .footer-email-box .footer-email p {
  font-size: 0.9rem;
  color: var(--gray-color2);
}

footer .footer-email-box .footer-email h4 .text-small {
  font-size: 0.8rem;
  color: var(--gray-color2);
}

footer .footer-email-box .footer-email img {
  float: left;
  width: 50px;
}

footer .footer-bottom {
  display: grid;
  justify-content: center;
  color: var(--gray-color);
  font-family: var(--en-font);
  padding-top: 50px;
  padding-bottom: 50px;
}